# An example to calculate the transition probability matrix for two customers

In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('sliced-3.csv')
df

              timestamp  customer_no  location
0   2019-09-04 21:39:00         1520  entrance
1   2019-09-04 21:40:00         1520     dairy
2   2019-09-04 21:41:00         1520     dairy
3   2019-09-04 21:42:00         1520     dairy
4   2019-09-04 21:43:00         1520     dairy
5   2019-09-04 21:44:00         1520     dairy
6   2019-09-04 21:45:00         1520     dairy
7   2019-09-04 21:46:00         1520     dairy
8   2019-09-04 21:47:00         1520     dairy
9   2019-09-04 21:48:00         1520    spices
10  2019-09-04 21:49:00         1520     dairy
11  2019-09-04 21:50:00         1520  checkout
12  2019-09-04 10:15:00          400  entrance
13  2019-09-04 10:16:00          400     fruit
14  2019-09-04 10:17:00          400     fruit
15  2019-09-04 10:18:00          400     fruit
16  2019-09-04 10:19:00          400     fruit
17  2019-09-04 10:20:00          400     fruit
18  2019-09-04 10:21:00          400     fruit
19  2019-09-04 10:22:00          400     dairy
20  2019-09-04 10:23:00          400     dairy
21  2019-09-04 10:24:00          400     dairy
22  2019-09-04 10:25:00          400     dairy
23  2019-09-04 10:26:00          400    drinks
24  2019-09-04 10:27:00          400    drinks
25  2019-09-04 10:28:00          400  checkout

In [13]:
df['location2'] = df['location'].shift(-1)

In [14]:
df

              timestamp  customer_no  location location2
0   2019-09-04 21:39:00         1520  entrance     dairy
1   2019-09-04 21:40:00         1520     dairy     dairy
2   2019-09-04 21:41:00         1520     dairy     dairy
3   2019-09-04 21:42:00         1520     dairy     dairy
4   2019-09-04 21:43:00         1520     dairy     dairy
5   2019-09-04 21:44:00         1520     dairy     dairy
6   2019-09-04 21:45:00         1520     dairy     dairy
7   2019-09-04 21:46:00         1520     dairy     dairy
8   2019-09-04 21:47:00         1520     dairy    spices
9   2019-09-04 21:48:00         1520    spices     dairy
10  2019-09-04 21:49:00         1520     dairy  checkout
11  2019-09-04 21:50:00         1520  checkout  entrance
12  2019-09-04 10:15:00          400  entrance     fruit
13  2019-09-04 10:16:00          400     fruit     fruit
14  2019-09-04 10:17:00          400     fruit     fruit
15  2019-09-04 10:18:00          400     fruit     fruit
16  2019-09-04 10:19:00          400     fruit     fruit
17  2019-09-04 10:20:00          400     fruit     fruit
18  2019-09-04 10:21:00          400     fruit     dairy
19  2019-09-04 10:22:00          400     dairy     dairy
20  2019-09-04 10:23:00          400     dairy     dairy
21  2019-09-04 10:24:00          400     dairy     dairy
22  2019-09-04 10:25:00          400     dairy    drinks
23  2019-09-04 10:26:00          400    drinks    drinks
24  2019-09-04 10:27:00          400    drinks  checkout
25  2019-09-04 10:28:00          400  checkout      None

In [24]:
df['location2'].replace(to_replace='entrance', value='checkout', inplace=True)
df['location2'].replace(to_replace= np.nan, value='checkout', inplace=True)

In [25]:

df

              timestamp  customer_no  location location2
0   2019-09-04 21:39:00         1520  entrance     dairy
1   2019-09-04 21:40:00         1520     dairy     dairy
2   2019-09-04 21:41:00         1520     dairy     dairy
3   2019-09-04 21:42:00         1520     dairy     dairy
4   2019-09-04 21:43:00         1520     dairy     dairy
5   2019-09-04 21:44:00         1520     dairy     dairy
6   2019-09-04 21:45:00         1520     dairy     dairy
7   2019-09-04 21:46:00         1520     dairy     dairy
8   2019-09-04 21:47:00         1520     dairy    spices
9   2019-09-04 21:48:00         1520    spices     dairy
10  2019-09-04 21:49:00         1520     dairy  checkout
11  2019-09-04 21:50:00         1520  checkout  checkout
12  2019-09-04 10:15:00          400  entrance     fruit
13  2019-09-04 10:16:00          400     fruit     fruit
14  2019-09-04 10:17:00          400     fruit     fruit
15  2019-09-04 10:18:00          400     fruit     fruit
16  2019-09-04 10:19:00          400     fruit     fruit
17  2019-09-04 10:20:00          400     fruit     fruit
18  2019-09-04 10:21:00          400     fruit     dairy
19  2019-09-04 10:22:00          400     dairy     dairy
20  2019-09-04 10:23:00          400     dairy     dairy
21  2019-09-04 10:24:00          400     dairy     dairy
22  2019-09-04 10:25:00          400     dairy    drinks
23  2019-09-04 10:26:00          400    drinks    drinks
24  2019-09-04 10:27:00          400    drinks  checkout
25  2019-09-04 10:28:00          400  checkout  checkout

In [27]:
pd.crosstab(df['location'], df['location2'], normalize=0)

location2  checkout     dairy    drinks     fruit    spices
location
checkout   1.000000  0.000000  0.000000  0.000000  0.000000
dairy      0.076923  0.769231  0.076923  0.000000  0.076923
drinks     0.500000  0.000000  0.500000  0.000000  0.000000
entrance   0.000000  0.500000  0.000000  0.500000  0.000000
fruit      0.000000  0.166667  0.000000  0.833333  0.000000
spices     0.000000  1.000000  0.000000  0.000000  0.000000

# Difining the process as a function

In [28]:
def shifting_location(df):
    '''This function making a new column in our dataframe with shifting the column 'location' to up'''
    df['location2'] = df['location'].shift(-1)
    return df

In [30]:
def cleaning_location2(df):
    '''The location2 needs some cleaning, replacing entrance with chechout. '''
    df['location2'].replace(to_replace='entrance', value='checkout', inplace=True)
    df['location2'].replace(to_replace= np.nan, value='checkout', inplace=True)
    return df

In [31]:
def transition_prob_matrix(df):
    mat = pd.crosstab(df['location'], df['location2'], normalize=0)
    return mat

In [32]:
def trans_prob_mat_calculating(df):
    df_shift = shifting_location(df)
    df_clean = cleaning_location2(df_shift)
    trans_mat = transition_prob_matrix(df_clean)
    return trans_mat

# Another way to write the function

In [33]:
def transition_probbability_matrix(dataframe):
    df = dataframe

    '''This line making a new column in our dataframe with shifting the column 'location' to up'''
    df['location2'] = df['location'].shift(-1)

    '''The location2 needs some cleaning, replacing entrance with chechout. '''
    df['location2'].replace(to_replace='entrance', value='checkout', inplace=True)
    df['location2'].replace(to_replace= np.nan, value='checkout', inplace=True)

    '''Here we creat the transition matrix (probability matrix)'''
    mat = pd.crosstab(df['location'], df['location2'], normalize=0)
    return mat